.footerSection {
  background: var(--background-color);
  color: var(--text-color);
  padding: 10rem 2rem 2rem 2rem;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.infos {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.elements {
  max-width: 200px;
  padding-bottom: 12px;
}

.elements h3 {
  color: #F5F1ED;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.elements ul {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  list-style-type: none;
  gap: 8px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

a:hover {
  transition: all 0.2s ease-in-out;
  color: var(--text-color-hover);
}

#logoPETeeFooter {
  transform: scale(1);
  transition: all 0.2s;
}

#logoPETeeFooter:hover {
  transform: scale(1.01);
  transition: all 0.2s;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

footer .social a {
  transform: scale(1);
  transition: all 0.15s;
}

footer .social a:hover {
  transform: scale(1.1);
  transition: all 0.15s;
}
